@model Project_MVC_CORE_EF.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CognomeCliente" class="control-label"></label>
                <input asp-for="CognomeCliente" class="form-control" />
                <span asp-validation-for="CognomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodFiscale" class="control-label"></label>
                <input asp-for="CodFiscale" class="form-control" />
                <span asp-validation-for="CodFiscale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Citta" class="control-label"></label>
                <input asp-for="Citta" class="form-control" />
                <span asp-validation-for="Citta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cellulare" class="control-label"></label>
                <input asp-for="Cellulare" class="form-control" />
                <span asp-validation-for="Cellulare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
